@model preciosya.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro que quiere eliminar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
           @* @Html.DisplayNameFor(model => model.ProNombre)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProNombre)
        </dd>
        <dt class = "col-sm-2">
            Precio
            @*@Html.DisplayNameFor(model => model.ProPrecio)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProPrecio)
        </dd>
        <dt class = "col-sm-2">
            Disponible
           @* @Html.DisplayNameFor(model => model.ProDisponible)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDisponible)
        </dd>
        <dt class = "col-sm-2">
            Descripcion
           @* @Html.DisplayNameFor(model => model.ProDescripcion)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDescripcion)
        </dd>
        <dt class = "col-sm-2">
            Marca
           @* @Html.DisplayNameFor(model => model.ProMa)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProMa.MaNombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
