@model IEnumerable<preciosya.Models.Producto>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Productos</h1>

<p>
    <a asp-action="Create">Agregar producto</a>
</p>
<form asp-controller="Productoes" asp-action="Index">
    <p>
        <div class="input-group mb-3 mt-5">
            <input type="text" name="busqueda" placeholder="Nombre del producto..." aria-label="Recipient's username" aria-describedby="basic-addon2" class="col-5">
            <div class="input-group-append">
                <button type="submit" value="Filter" class="btn btn-outline-secondary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </p>
</form>



<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre
                <!-- @Html.DisplayNameFor(model => model.ProNombre) -->
            </th>
            <th>
                Precio
                <!--  @Html.DisplayNameFor(model => model.ProPrecio) -->
            </th>
            <th>
                Disponible
                <!-- @Html.DisplayNameFor(model => model.ProDisponible) -->
            </th>
            <th>
                Descripcion
                <!--@Html.DisplayNameFor(model => model.ProDescripcion) -->
            </th>
            <th>
                Marca ?
                <!-- @Html.DisplayNameFor(model => model.ProMa) -->
            </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProPrecio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProDisponible)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProDescripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProMa.MaNombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ProId">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProId">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
